
body{
    font-family: 'Ubuntu', sans-serif;
}

.controls > h1{
    margin-bottom: 0px; 
}

body.battlescribe {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    
}

div.battlescribe {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-width: 0px;

    color: #444444;
    text-align: left;

    font-size: 6pt;

}

div.battlescribe h1,
div.battlescribe h2,
div.battlescribe h3,
div.battlescribe h4 {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    
}

div.battlescribe h1 {
    display: none;
    margin: 8px 0px 0px 0px;
    /*background-image: url("logo.png"); */
    /*background-size: 35px 35px;*/
    background-repeat: no-repeat;
    /*padding-left:40px;*/

}

div.battlescribe h2 {
    

}

div.force> h2 {

}
div.summary> h2 {

}
div.battlescribe h3 {


}

div.battlescribe h4 {
    font-size: 1.4em;
    border: 1px solid grey;
}

div.battlescribe div.force {
    margin: 2px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe div.summary {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe ul {
    margin: 0px 0px 0px 6px;
    padding: 0px;
    border-width: 0px;
    
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

div.battlescribe li {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe li.category {
    margin: 16px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;

}

div.battlescribe li.category ul {
     display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.page {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    page-break-after:always;
    break-after:always;   

    /*border: 3px dotted grey!important;*/
}

#content>div.battlescribe li.rootselection {
    margin: 10px 0px 0px 0px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    
    width: 45%;

    min-height: 420px;

    position: relative;
}

#content>div.battlescribe li.rootselection.overview {
    width: 99%!important;
    min-height: 420px;
    position: relative;

    page-break-after:always;
    break-after:always;   
}

.clear{
    float:left;
    clear: both;
    width: 100%;
    height: 30px;
    background-color: red;
}

#content>div.battlescribe table {
    width: 100%;
}

.abilities {
    display: none;
}



#outline li.gizmo, #outline h3, #outline h1, #outline h2, #outline h4{
    padding:0px!important;
    margin:0px!important;
    -webkit-margin-before: 0px!important;
    -webkit-margin-after: 0px!important;
}

#outline>div.battlescribe li.rootselection {
    margin: 10px 0px 0px 0px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;

    /*-moz-box-shadow: 8px 8px 5px #888;
    -webkit-box-shadow: 8px 8px 5px #888;
    box-shadow: 8px 8px 5px #888;*/
}

.rootselection p{
    font-size: 1.5em;
}

li.rootselection table:first-of-type{

}

table tr:first-of-type th{
    background-color: lightgreen;
}
div.battlescribe li.rootselection>h4{

    background-color:lightgrey;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:3px 0px 3px 8px;
}
div.battlescribe li.rootselection>ul>li>h4{
    border: none;
    padding:10px 0px 3px 0px;
}
div.battlescribe li.rootselection>ul>li>ul{
    margin-left: 6px!important;
}

div.battlescribe li.rootselection table:first-of-type tr td{
    border-left:1pt lightgrey solid;
    min-width: 15px;
}


div.battlescribe p {
    margin: 6px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe table {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    border-collapse: collapse;

    font-size: .90em;
    
    color: #444444;
}

div.battlescribe tr {
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
}

div.battlescribe th {
    padding: 1px;
    margin: 0px;
    border-width: 0px;
    
    font-weight: bold;
    text-align: left;
}

div.battlescribe td {
    padding: 1px;
    margin: 0px;
    border-width: 0px;
    
    text-align: left;
}

div.battlescribe table.statistics {
}

div.battlescribe table.statistics tr.subtotal {
    font-weight: bold;
}

div.battlescribe table.statistics tr.total {

    font-weight: bold;
}

div.battlescribe table.statistics th {
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    

    text-align: right;
}

div.battlescribe table.statistics th.center {
    text-align: center;
}

div.battlescribe table.statistics td {
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    
    text-align: right;
}

div.battlescribe .italic {
    font-style: italic;
}

div.battlescribe .bold {
    font-weight: bold;
}

div.summary{
    font-size: .75em;
}

div.summary>p {
    border-bottom: 1pt solid grey;
    padding-bottom: 2px;
}
div.summary>p>span.bold {

    font-weight:bold;
    margin-right:5px;
}

div.summary h2 {
    display: none;
}

ul.wounds
{
    background-color: white;
    z-index: 100;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

ul.wounds li.title{
    width: 20px;
    border: 0px;
}

ul.wounds li{
    font-size: 5px;
    line-height: 22px;
    text-align: center;
    float: left;
    width: 22px;
    height : 22px;
    border: 1px solid grey;
    margin-right: 2px;
    border-radius: 2px;
}

ul.wounds li.sep {
    border: none;
    width: 5px;
}

.points
{
    color: black;
    opacity: .4;
    z-index: 0;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 5em;
}

#templates{
    display: none;
}